<h1 class="display-4 text-center fw-bold mt-5 mb-5">Bem-vindo ao Truco Mineiro!</h1>
<h2 class="display-6 text-center fw-bold mt-5 mb-5">(Desafio Técnico)</h2>
<p class="lead ml-3">Este é um site dedicado ao jogo de Truco Mineiro, uma modalidade tradicional de truco muito popular em Minas Gerais.</p>
<p class="lead ml-3">Aqui você encontrará informações sobre as regras do jogo, entender melhor como jogar, além de poder jogar um jogo de um contra um contra um robô!.</p>
<p class="lead ml-3">Divirta-se e boa sorte nas partidas!</p>