<h1 class="display-4 text-center fw-bold mt-5 mb-5 ">Regras do Truco Mineiro</h1>

<p class="lead ml-3 text-justify">O Truco Mineiro é um jogo de cartas muito popular em Minas Gerais. As regras básicas são as seguintes:</p>

<ol class="ml-3">
  <li class="mb-2">O jogo é disputado por duas duplas.(No caso do robô, será jogado uma modalidade de um contra um mantendo-se as regras)</li>
  <li class="mb-2">O objetivo do jogo é fazer 12 pontos primeiro.</li>
  <li class="mb-2">Cada jogador recebe três cartas por rodada.</li>
  <li class="mb-2">Cada rodada vale inicialmente 2 pontos.</li>
  <li class="mb-2">Para aumentar a aposta, um jogador deve dizer "truco", fazendo a rodada valer 4 pontos.</li>
  <li class="mb-2">O outro jogador pode escolher aceitar, recusar, ou aumentar a aposta.</li>
  <li class="mb-2">Se o outro jogador aceitar a aposta, o jogo continua com a nova pontuação.</li>
  <li class="mb-2">Se o outro jogador recusar a aposta, a dupla que fez a aposta ganham os pontos da rodada.</li>
  <li class="mb-2">Caso o jogador decida aumentar a aposta ele pode dizer "seis", fazendo a rodada valer seis pontos e cabe ao outro jogador aceitar, recusar ou aumentar.</li>
  <li class="mb-2">A rodada pode ser aumentada seguindo a ordem: "Truco" valendo 4 pontos, "Seis", valendo 6 pontos, "Nove", valendo 10 pontos e por fim "Doze" valendo o jogo.</li>
  <li class="mb-2">Cada rodada é composta por até 3 disputas, onde cada jogador joga uma de suas cartas.</li>
  <li class="mb-2">A disputa é ganha pelo jogador que jogar a maior carta de acordo com a <a href="" ic-get-from="/ordem" ic-target="#main-content" ic-indicator="#loading">ordem</a>.</li>
  <li class="mb-2">Ganha a rodada o jogador ou dupla que vencer 2 disputas.</li>
  <li class="mb-2">Depois disso o baralho é reembaralhado e uma nova rodada começa.</li>
  <li class="mb-2">O jogo continua até que uma das duplas alcance 12 pontos.</li>
</ol>

<p class="lead ml-3 text-justify text-success">Divirta-se jogando Truco Mineiro!</p>